
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0;
	background: #EDE7DB url('/img/img01.gif') repeat-x left top;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #696969;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #696969;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#header-wrapper {
	width: 100%;
	padding-bottom:15px;
}

#header {
	width: 960px;
	margin: 0 auto;
}

/* Header */

#logo {
	width: 960px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0;
	padding-left: 100px;
	color: #FFFFFF;
}

#logo span {
	color: #FFFFFF;
}

#logo h1 {
	padding: 25px 0 0 0;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 4.8em;
}

#logo p {
	padding: 4px 0 0 3px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	color: #FFFFFF;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
}

#menu {
	width: 920px;
	margin: 0 auto;
	height: 54px;
	padding: 0px 20px;
	background: url('/img/img02.png') repeat-x left top;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 21px 0px 0px 0px;
	list-style: none;
}

#menu li {
	float: left;
	display: inline;
}

#menu a {
	height: 30px;
	margin: 0;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: #CCCCCC;
	color:  black;
	}

/* Wrapper */

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Page */

#page {
	width: 920px;
	margin: 0px auto;
	padding: 0px;
	background: #FFFFFF ;
    background-image: url("/img/buckeyestripe2.png");
    background-repeat:repeat-y;   
    background-position-x:center;
}

#page-bgtop {
}

#page-bgbtm {
	
}
.fcmain{
	width:100%;text-align:center;margin-top:50px;
}
/* Latest Post */

#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
	float: left;
	width: 600px;
	margin: 10px 30px 20px 50px;
}
#content1 {
	float: left;
	width: 100%;
	
}
#content2 {
	float: left;
	width: 800px;
	margin: 40px 10px 10px 30px;
}



.post {
	padding-bottom: 15px;
	
}

.post h1 {
	font-weight: normal;
}

.title {
	margin: 0;
	padding: 10px 0 4px 0px;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	font-weight: normal;
}
#myboys {
    font-weight:bold;
	vertical-align:top;			
}

.title a {
	border-bottom: none;
	color: #454545;
}

.byline {
	margin: -4px 0px 20px 0px;
	padding: 4px 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.byline a {
	color: #666666;
}

.tag {`
	padding: 0 15px;
}

.entry {
	padding: 0px 0px 0px 0px;
}

.links {
	width: 80px;
	height: 33px;
	text-align: right;
	font-weight: bold;
}

.links a {
	display: block;
	height: 25px;
	padding-top: 8px;
	text-align: left;
}

.links a:hover {
}

/* Sidebars */

#sidebar1 {
	
	width: 210px;
}

#sidebar2 {
	float: right;
	width: 210px;
}

.sidebar {
	float: left;
	padding-top: 24px;
	text-align:center;
	color: #595959;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding: 0 0 20px 0;
}

.sidebar li ul {
	background: none;
	padding-bottom: 20px;
}

.sidebar li li {
	margin: 0px 15px;
	padding: 8px 0px;
	background: url('CSS/img/img04.gif') repeat-x left bottom;
}


.sidebar li h2 {
	height: 26px;
	margin: 0 0 0 0;
	padding: 14px 15px 14px 15px;
	text-transform: capitalize;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #454545;
}

.sidebar h2 a {
}

.sidebar a {
	padding-left: 15px;
}

/* Search */

#searchform {
	margin: 0;
	padding: 0 0 20px 0;
}

#searchform br {
	display: none;
}

#searchform h2 {
}

#s {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 165px;
	height: 18px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	background: #CA8186;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
	padding: 10px 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: left;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */

#footer-wrapper {
	width: 100%;
	height: 10px;
}

#footer {
	width: 920px;
	height: 50px;
	margin: 0 auto;
	padding: 0 20px;
	background: #111111;
}

#footer p {
	margin: 0;
	padding: 30px 0 0 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
}

#footer a {
	color: #EDE7DB;
}

#footer .link {
}

#footer .copyright {
}
#nextgame
{
 margin-top:10px;
 float:right;
 text-align:center;	
 vertical-align:top;
 width:400px;
 font-size:12pt;
 color:maroon;
				
}
#nextgame hr
{

 color:maroon;
				
}
#nextgame small
{
 font-size:9pt;
 color: #CCCCCC;
			
}
#schtable td
{
	font-size:9pt;
	vertical-align:middle;	
	height:20px;		
}

.tabs { list-style: none; overflow: hidden; padding-left: 1px;  font-weight:bold; }
.tabs li { display: inline; background-color:#CCCCCC;}
.tabs li a { display: block; float: left; padding: 4px 8px; color: maroon; border: 1px solid black; margin: 0 0 0 -1px; background-color:#CCCCCC;}
.tabs li a.current { background: white; border-bottom: 0; position: relative; top: 2px; z-index: 2; }

.box-wrapper { -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; padding: 20px; background: white; border: 1px solid #ccc; margin: -1px 0 0 0; height: 210px; position: relative; }
.content-box { overflow: hidden; position: absolute; top: 20px; left: 20px; width: 658px; height: 230px; }

.current { }

.col-one, .col-two, .col-three { width: 40%; float: left; position: relative; top: 350px; }
.col-one, .col-two { text-align:center; }

.expand1 b{ font-size:10pt}
iframe .namePlate{ background-color:maroon;}

.buckroach {
    float:right;
    vertical-align:top;
    padding:30px;
}
.pagesubcont {
    padding:20px 30px 10px 30px;
    color:black;
}
.Quotes {
   padding:20px 20px 20px 20px;
}
.Quotes td {
    padding-right: 10px;
}
.Quotes input {
    width:250px;
}
.schedule2016 {
    background: url('/img/osu2014nc2.PNG') no-repeat center center;
    width:500px;
	margin:auto;
	border: 1px maroon solid;
	border-radius: 5px;
}
.rosterDIV{
    width:1000px;
	margin:auto;
	border: 1px maroon solid;
	border-radius: 5px;
	display: none;
}
.MrosterDIV{
    width:100%;
	margin:auto;
	border: 1px maroon solid;
	border-radius: 5px;
	display: none;
}
th{
	background: maroon;
	width:100%;
	color:white;
	padding: 5px;
	font-weight: bold; 
}
.gameitem{
	opacity: 0.0;
	position: relative;
	text-align: center;
	cursor:pointer;
}
.schdate{
	width: 120px;
	font-weight: bold;
	display: inline-block;
	text-align: left;
}
.schteam{
	width: 200px;
	display: inline-block;
	text-align: left;
	color:black;
	font-weight: bold;

}
.schtime{
	width: 150px;
	display: inline-block;
	color:red;
	text-align: left;
	white-space: nowrap;

}
.scheduleHdr{
	background: maroon;
	width:100%;
	color:white;
	padding: 5px;
	font-weight: bold; 
}
.hidgamedtls{
	display: none;
	background-color: maroon;
	color: white;
	padding: 10px 5px;
}
.hidgamedtls div{
	position: relative;
  width: 49%;
  display: inline;
  padding-left: 20px;
  text-align: left;
}
@keyframes modalFadeIn {
  0% {
    transform: rotateX(90deg);
    opacity:0;
  }
  40% {
    transform: rotateX(0deg);
    
  }
  100% {
    opacity:1;
  
  }

}
.modalFadeIn {
    -webkit-animation-duration: 2s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: modalFadeIn;
	animation-name: modalFadeIn;
}  

.modal-dialog-center {
    margin-top: 13%;
}
.modal-body div{
	width: 100%;
	text-align: center;
}
.cardcnt{
	font-size: 8pt;
	float: right;
}
.cardcnt a:link{
	color:#c10435;
}
.cardcnt a:visited{
	color:#c10435;
}
.cardcnt a:hover{
	color:#c7cdd5;
}
.cluediv{
	font-size: 20pt;
	width: 100%;
	text-align: center;
	color:#c10435;
	font-weight: bold;
}
.cluediv span{
	color:#c7cdd5;
}
.hint{
	display: none;
	font-size: 15pt;
}
#rosterlookup{
	widows: 200px;
}
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

input {  border: 1px solid #c10435;  }

.gameitem:hover{
	background:white;
	color:red;
}
.gialt{
	background:rgba(252,252,252,.4);
}
.gamedtl{
	width:90%;
	display:none;
	text-align: center;
	background:#f7f7f7;
	margin: 2px auto;
	border: 1px red solid ;
	border-radius:5px;
	padding:4px;
}
.gscore{
	width:30px;
	margin-right: 8px;
}
.closedtl{
	background:red;
	color:white;
	padding:2px 4px;
	float:right;
	margin-right:15px;
	font-size:8pt;
	border-radius:4px;
	cursor:pointer;
}
.settings{
	width: 100%;
	padding: 10px;
	text-align: center;
	display: none;
}
.settingimg{
	margin-left:18px;
	cursor: pointer;
}
.nobrk{
	white-space: nowrap;
}
.retirecd{
	margin: 10px auto;
    text-align: center;	
}
.kkc-days{
	font-weight: bold;
	color:maroon;
	margin-right:4px;
}
.kkc-hours{
	font-weight: bold;
	color:maroon;
	margin-right:4px;
}
.kkc-min{
	font-weight: bold;
	color:maroon;
	margin-right:4px;
}
.kkc-sec{
	font-weight: bold;
	color:maroon;
	margin-right:4px;
}
.mblRoster{
      display: none;
  }

