@media only screen and (max-width : 320px) {
  body {
	margin: 0px;
	padding: 0;
	background: blue;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #696969;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  body {
	margin: 0px;
	padding: 0;
	background: white;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #696969;
  }
  .schedule2016{
      width: 100%;
      margin: 0px 5px;
  }
  .schdate{
      width: 25%;
      
  }
  .schteam{
      width:40%;
  }
  .schtime{
      width: 34%;
  }
}
