@media only screen and (max-width : 320px) {
  body {
	margin: 0px;
	padding: 0;
	background: blue;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #696969;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  body {
	  margin: 0px;
	  padding: 0;
	  background: blue;
	  text-align: justify;
	  font-family:  Tahoma, Arial, Helvetica, sans-serif;
	  font-size: 14pt;
	  color: #696969;
  }
  .schedule2016{
      width: 95%;
      margin: 20px auto;
      font-size: 3em;
  }
  .schdate{
      width: 15%;
      padding-bottom: 6px;
      font-size: 0.7em;
      
  }
  .schteam{
    width: 65%;
  }
  .schtime{
      width: 10%;
  }
  .schtime>label{
     font-size: 0.5em;
  }
  .schtime>span{
    display: none;
  }
  .stdRoster{
      /*display: none;*/
  }
  .mblRoster{
      display: block;
  }
  .fcmain{
      display: none;
  }
  .settings{
      display:none;
  }
  .settings a{
      font-size: 24pt;
  }
  
  .hidgamedtls{
    font-size: 0.5em;
    
  }
}
