@media only screen and (min-width : 320px) {
  body {
	margin: 0px;
	padding: 0;
	background: white;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #696969;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait){

    html{
        width: 300px;
    }
    .modal-dialog {
         width: 300px;
   }
    .fcmain{
	   background: lightslategrey;
  }
}
